.divflex {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-lavender-100);
}
.divjsx-1084485634,
.divrelative {
  position: absolute;
  overflow: hidden;
}
.divrelative {
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
}
.divjsx-1084485634 {
  width: calc(100% - 681px);
  top: 77px;
  right: 595px;
  left: 86px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 967px;
}
.vector-shape-icon {
  position: absolute;
  top: -8px;
  left: -12px;
  width: 186.5px;
  height: 64px;
}
.connect-wallet {
  position: absolute;
  top: 11px;
  left: 26px;
}
.button {
  position: absolute;
  top: 0;
  right: 63.5px;
  width: 162.5px;
  height: 40px;
}
.logo-icon {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.h1 {
  top: calc(50% - 13px);
  left: calc(50% - 83.5px);
}
.h1,
.logo,
.nav-bar {
  position: absolute;
}
.logo {
  bottom: 43px;
  left: 62px;
  width: 237px;
  height: 40px;
  overflow: hidden;
  color: var(--black);
  font-family: var(--font-michroma);
}
.nav-bar {
  top: 8px;
  left: 49px;
  width: 1438px;
  height: 83px;
  color: var(--white);
  font-family: var(--font-ligconsolata);
}
.basepaint-fan-club {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1.4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 244.5px;
  height: 34px;
}
.divoverflow-hidden {
  position: absolute;
  top: calc(50% - 302px);
  left: 25px;
  width: 244.3px;
  height: 34px;
  overflow: hidden;
  font-size: var(--font-size-9xl);
  color: var(--black);
}
.divflex-icon {
  position: absolute;
  top: 30px;
  left: 277.3px;
  border-radius: var(--br-9980xl);
  width: 24px;
  height: 24px;
}
.x04c03cb0 {
  position: absolute;
  top: 5px;
  left: 8px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 97.3px;
  height: 17px;
}
.svg-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: 109.1px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.divself-start {
  position: absolute;
  top: calc(50% - 260px);
  left: 25px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-lavender-100);
  width: 133.1px;
  height: 28px;
}
.link-svg {
  position: absolute;
  top: 67.5px;
  left: 395px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.members {
  position: absolute;
  top: 0;
  left: calc(50% - 31.25px);
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62.7px;
  height: 15px;
}
.divcursor-pointer {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 278.7px);
  top: 0;
  right: 278.7px;
  bottom: 2px;
  left: 0;
  color: var(--black);
}
.inventory {
  position: absolute;
  top: 0;
  left: calc(50% - 36.75px);
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73.7px;
  height: 15px;
}
.divcursor-pointer1 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 278.7px);
  top: 0;
  right: 139.4px;
  bottom: 2px;
  left: 139.3px;
}
.details {
  position: absolute;
  top: 0;
  left: calc(50% - 25.85px);
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51.8px;
  height: 15px;
}
.divcursor-pointer2 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 278.7px);
  top: 0;
  right: 0;
  bottom: 2px;
  left: 278.7px;
}
.divflex2 {
  position: absolute;
  width: calc(100% - 50px);
  top: 119px;
  right: 25px;
  left: 25px;
  border-bottom: 2px solid var(--color-lavender-200);
  box-sizing: border-box;
  height: 30px;
  text-align: center;
  font-size: var(--font-size-xs);
}
.total {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 66.1px;
  height: 15px;
}
.divtext-xs {
  position: absolute;
  top: calc(50% - 8px);
  left: 24px;
  width: 65.9px;
  height: 16px;
}
.voting-power {
  position: absolute;
  top: 1px;
  left: -13.8px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 90px;
  height: 17px;
}
.chevron-downsvg-icon {
  position: absolute;
  top: calc(50% - 8px);
  left: 80.2px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.divflex4 {
  position: absolute;
  width: calc(100% - 297.8px);
  top: 8px;
  right: 24px;
  left: 273.8px;
  height: 20px;
  font-size: var(--font-size-sm);
  color: var(--color-royalblue);
}
.divflex3 {
  position: absolute;
  width: calc(100% - 50px);
  top: 173px;
  right: 25px;
  left: 25px;
  border-radius: var(--br-9980xl);
  background-color: var(--color-lightgray);
  height: 36px;
  font-size: var(--font-size-xs);
}
.x4328c6ed {
  position: absolute;
  top: 2px;
  left: 28px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 101.8px;
  height: 20px;
}
.divflex8,
.divrelative1 {
  position: absolute;
  top: calc(50% - 12px);
  left: 0;
  height: 24px;
}
.divrelative1 {
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #93dcb7, #10b173 39.85%);
  width: 24px;
}
.divflex8 {
  width: 129.6px;
}
.div,
.div1 {
  left: 341px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 53px;
  height: 20px;
}
.div {
  position: absolute;
  top: 2px;
}
.div1 {
  top: 74px;
}
.div1,
.div2,
.divflex7 {
  position: absolute;
}
.div2 {
  top: 38px;
  left: 341px;
  line-height: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 53px;
  height: 20px;
}
.divflex7 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  height: 24px;
}
.korayeth {
  position: absolute;
  top: 2px;
  left: 28px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 67.7px;
  height: 20px;
}
.divrelative2 {
  top: calc(50% - 12px);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #b3d4ff, #2c78f3 39.85%);
  width: 24px;
}
.divflex10,
.divflex9,
.divrelative2 {
  position: absolute;
  left: 0;
  height: 24px;
}
.divflex10 {
  top: calc(50% - 12px);
  width: 95.4px;
}
.divflex9 {
  width: 100%;
  top: 36px;
  right: 0;
}
.x705bf979 {
  position: absolute;
  top: 2px;
  left: 28px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 100.8px;
  height: 20px;
}
.divrelative3 {
  top: calc(50% - 12px);
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #ffe38b, #ff8946 39.85%);
  width: 24px;
}
.divflex11,
.divflex12,
.divflex6,
.divrelative3 {
  position: absolute;
  left: 0;
  height: 24px;
}
.divflex12 {
  top: calc(50% - 12px);
  width: 128.6px;
}
.divflex11,
.divflex6 {
  width: 100%;
  top: 72px;
  right: 0;
}
.divflex6 {
  top: 0;
  height: 348px;
}
.divflex5 {
  position: absolute;
  width: calc(100% - 50px);
  top: 221px;
  right: 25px;
  left: 25px;
  height: 408px;
  overflow: hidden;
  color: var(--black);
}
.divbg-gradient-to-b {
  position: absolute;
  width: calc(100% - 16px);
  top: 69px;
  right: 8px;
  left: 8px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 654px;
}
.new-proposal {
  position: absolute;
  top: 0;
  left: 32px;
  letter-spacing: -1.4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 244.5px;
  height: 34px;
}
.divoverflow-hidden1 {
  position: absolute;
  top: calc(50% - 17px);
  left: 100px;
  width: 244.3px;
  height: 34px;
  overflow: hidden;
}
.divfont-bold {
  position: absolute;
  height: calc(100% - 754px);
  width: calc(100% - 16px);
  top: 738px;
  right: 8px;
  bottom: 16px;
  left: 8px;
  border-radius: var(--br-5xl);
  background-color: var(--color-lightsteelblue-200);
  box-shadow: 0 3px 0 rgba(26, 32, 40, 0.1);
  font-size: var(--font-size-9xl);
  color: var(--black);
}
.divflex1,
.divoverflow-hidden2 {
  position: absolute;
  overflow: hidden;
}
.divflex1 {
  height: calc(100% - 207px);
  top: 7px;
  bottom: 200px;
  left: 950px;
  width: 460px;
  font-size: var(--font-size-sm);
}
.divoverflow-hidden2 {
  top: calc(50% - 407.5px);
  left: 101px;
  width: 244.3px;
  height: 34px;
  font-size: var(--font-size-9xl);
  color: var(--black);
}
.no-proposal-yet {
  position: absolute;
  top: 551px;
  left: 438px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 148px;
  height: 19px;
}
.hero-section {
  position: absolute;
  top: 16px;
  left: -47px;
  width: 1533px;
  height: 1017px;
  overflow: hidden;
}
.guild-status-wo-proposal {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1033px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-slategray);
  font-family: var(--font-roboto);
}
