.logo-icon1 {
  top: calc(50% - 12px);
  left: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.h11,
.logo-icon1,
.logo1 {
  position: absolute;
}
.h11 {
  top: calc(50% - 13px);
  left: calc(50% - 83.5px);
}
.logo1 {
  bottom: 43px;
  left: 62px;
  width: 237px;
  height: 40px;
  overflow: hidden;
}
.nav-bar1 {
  position: absolute;
  top: 8px;
  left: 49px;
  width: 1438px;
  height: 83px;
  color: var(--black);
  font-family: var(--font-michroma);
}
.created,
.div3 {
  position: absolute;
  top: 0;
  left: 0;
}
.created {
  display: flex;
  align-items: center;
  width: 63.5px;
  height: 19px;
  -webkit-text-stroke: 1px #000;
}
.div3 {
  height: 100%;
  bottom: 0;
  width: 63.3px;
}
.down-arrowsvg-fill-icon {
  top: 0;
  width: 65.1px;
  overflow: hidden;
}
.divtext-sm,
.down-arrowsvg-fill-icon,
.link,
.newest {
  position: absolute;
  left: 0;
  height: 17px;
}
.newest {
  top: 0;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 53.3px;
}
.divtext-sm,
.link {
  top: 1px;
  width: 65.1px;
}
.divtext-sm {
  height: 100%;
  top: 0;
  bottom: 0;
  left: 737px;
  font-size: var(--font-size-sm);
}
.divflex14 {
  position: absolute;
  width: calc(100% - 48px);
  top: 24px;
  right: 24px;
  left: 24px;
  height: 20px;
}
.partyblit {
  position: absolute;
  top: 7px;
  left: 0;
  letter-spacing: -1.4px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 111.7px;
  height: 34px;
  -webkit-text-stroke: 1px #000;
}
.divfont-forza {
  position: absolute;
  width: calc(100% - 602px);
  top: 171px;
  right: 602px;
  left: 0;
  height: 35px;
  overflow: hidden;
}
.divflex15 {
  position: absolute;
  width: calc(100% - 48px);
  top: 68px;
  right: 24px;
  left: 24px;
  border-radius: var(--br-5xl);
  height: 377px;
  font-size: var(--font-size-sm);
  color: var(--color-gray-100);
}
.divflex13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-4xl);
  background-color: var(--color-lavender-100);
}
.divrelative4 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  overflow: hidden;
}
.divjsx-10844856341 {
  position: absolute;
  width: calc(100% - 681px);
  top: 91px;
  right: 127px;
  left: 554px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 301px;
  overflow: hidden;
}
.no-activity-yet {
  position: absolute;
  top: 80px;
  left: 338px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 126.1px;
  height: 19px;
}
.divflex18 {
  position: absolute;
  width: calc(100% - 48px);
  top: 68px;
  right: 24px;
  left: 24px;
  border-radius: var(--br-5xl);
  height: 377px;
  color: var(--color-slategray);
}
.divjsx-10844856342 {
  width: calc(100% - 681px);
  top: 423px;
  right: 126px;
  left: 555px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 301px;
}
.divjsx-10844856342,
.hero-section1,
.logo-icon2 {
  position: absolute;
  overflow: hidden;
}
.logo-icon2 {
  top: calc(50% - 369.5px);
  left: 580px;
  width: 202px;
  height: 205px;
}
.hero-section1 {
  top: 16px;
  left: -47px;
  width: 1533px;
  height: 1017px;
}
.divrelative6 {
  position: absolute;
  top: calc(50% - 86px);
  left: 25px;
  border-radius: var(--br-53xl);
  background: linear-gradient(180deg, #fbfcfd 11.16%, #a7b8cf);
  width: 72px;
  height: 72px;
}
.div5,
.x828djwii3892djks {
  position: absolute;
  display: flex;
  align-items: center;
}
.x828djwii3892djks {
  top: 25px;
  left: 109px;
  line-height: 28px;
  text-align: left;
  width: 243.1px;
  height: 28px;
  -webkit-text-stroke: 1px #000;
  font-size: 13px;
}
.div5 {
  top: 5px;
  left: 8px;
  line-height: 20px;
  font-weight: 500;
  width: 159.9px;
  height: 17px;
}
.svg-icon1 {
  position: absolute;
  top: calc(50% - 8px);
  left: 171.7px;
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.divcursor-pointer3,
.divrounded-full {
  position: absolute;
  border-radius: var(--br-9980xl);
}
.divcursor-pointer3 {
  top: 61px;
  left: 109px;
  background-color: var(--color-ghostwhite);
  width: 195.7px;
  height: 28px;
  text-align: left;
  font-size: var(--font-size-sm);
}
.divrounded-full {
  top: calc(50% + 17px);
  left: calc(50% - 195px);
  background-color: var(--color-lavender-200);
  width: 142.1px;
  height: 2px;
}
.party-stats {
  position: absolute;
  top: 121px;
  left: 179.1px;
  font-size: var(--font-size-xs);
  line-height: 16px;
  text-transform: uppercase;
  display: flex;
  text-align: left;
  align-items: center;
  width: 82px;
  height: 16px;
}
.divrounded-full1 {
  position: absolute;
  top: calc(50% + 17px);
  left: calc(50% + 52.9px);
  border-radius: var(--br-9980xl);
  background-color: var(--color-lavender-200);
  width: 142.1px;
  height: 2px;
}
.created1 {
  top: 149px;
  left: calc(50% - 158.1px);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-transform: capitalize;
  width: 56.3px;
  height: 20px;
}
.b,
.created1,
.hosted {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.b {
  top: 169px;
  left: calc(50% - 136.9px);
  line-height: 28px;
  width: 14.1px;
  height: 28px;
  -webkit-text-stroke: 1px #000;
}
.hosted {
  top: 149px;
  left: calc(50% - 25.4px);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-transform: capitalize;
  width: 51px;
  height: 20px;
}
.b1 {
  top: 169px;
  left: calc(50% - 6.9px);
  line-height: 28px;
  width: 14.1px;
  height: 28px;
  -webkit-text-stroke: 1px #000;
}
.b1,
.b2,
.joined1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.joined1 {
  top: 149px;
  left: calc(50% + 107px);
  font-size: var(--font-size-sm);
  line-height: 20px;
  text-transform: capitalize;
  width: 46.1px;
  height: 20px;
}
.b2 {
  top: 169px;
  left: calc(50% + 123px);
  line-height: 28px;
  width: 14.1px;
  height: 28px;
  -webkit-text-stroke: 1px #000;
}
.divbg-gradient-to-b1 {
  position: absolute;
  width: calc(100% - 952px);
  top: 108px;
  right: 921px;
  left: 31px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 222px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-slategray);
}
.divtext-sm2 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 324.9px;
  width: 65.1px;
  font-size: var(--font-size-sm);
}
.no-activity-yet1 {
  position: absolute;
  top: 179px;
  left: 132px;
  font-weight: 500;
  display: flex;
  align-items: center;
  width: 126.1px;
  height: 19px;
}
.divjsx-10844856343 {
  position: absolute;
  width: calc(100% - 952px);
  top: 354px;
  right: 921px;
  left: 31px;
  border-radius: var(--br-5xl);
  background: linear-gradient(180deg, #f4f7fb, #a7b8cf);
  height: 471px;
  overflow: hidden;
}
.profile-master {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1033px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-royalblue);
  font-family: var(--font-roboto);
}
